* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

/*
 * 链接：https://juejin.cn/post/7141400972634357768
 * css有更改
 * 来源：稀土掘金
 * 著作权归作者所有。商业转载请联系作者获得授权，非商业转载请注明出处。
 */
.container {
     margin: 0 auto;
     position: relative;
     display: flex;
     justify-content: center;
     max-width: 1200px;
     flex-wrap: wrap;
     align-content: flex-start;
}
.container .card {
     margin: 0 auto;
     height: 400px;
     width: 270px;
     margin: 30px;
     box-shadow: 10px 10px 20px #7193FF;
     border-radius: 15px;
     background: linear-gradient(45deg,#7193FF, #B780FF);
     border-top: 1px solid linear-gradient(45deg,#7193FF, #B780FF);
     border-left: 1px solid linear-gradient(45deg,#7193FF, #B780FF);
}
.container .card .content {
     margin: 0 auto;
     padding: 20px;
     text-align: center;
     transition: 0.5s;
}

.container .card .content h2 {
     font-family: Harmony OS Sans;
     font-size: larger;
     margin: 0 auto;
     position: absolute;
     top: -60px;
     right: 1px;
     font-size: 10em;
     color: rgb(255, 255, 255);
     pointer-events: none;
}
.container .card .content h3 {
     font-family: Harmony OS Sans;
     font-size: large;
     margin: 0 auto;
     font-size: 1.8em;
     color: rgb(255, 255, 255);
     z-index: 1;
}
.container .card .content p {
     font-family: Harmony OS Sans;
     font-size: medium;
     font-size: 1em;
     color: rgb(255, 255, 255);
     font-weight: 300;
}

.container .card .content .title {
     font-family: Harmony OS Sans;
     font-size: small;
     position: relative;
     display: inline-block;
     padding: 10px 20px;
     margin-top: 10px;
     background: linear-gradient(45deg,#7193FF, #B780FF);
     color: rgb(255, 255, 255);
     border-radius: 15px;
     text-decoration: none;
     box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
/*
 * 上方css来源链接：https://juejin.cn/post/7141400972634357768
 * css有更改
 * 上方css来源：稀土掘金
 * 著作权归作者所有。商业转载请联系作者获得授权，非商业转载请注明出处。
 */

.card {
     transform: scale(1);
     transition: all 0.2s ease-in;
}
.card:hover {
     transform: scale(1.05);
     transition: all 0.2s ease-in;
}

.text-color-white {
     color: #fff;
}

img {
     border-radius: 15px;
}

a {
     font-family: Harmony OS Sans;
     text-decoration:none;
     text-align: center;
}

.button {
     display: inline-block;
     border-radius: 4px;
     border: none;
     color: #ffffff;
     background: #455eef;
     text-align: center;
     font-size: 28px;
     padding: 20px;
     width: 200px;
     transition: all 0.5s;
     cursor: pointer;
     margin: 5px;
     box-shadow: 0 4px 14px 0 #455fef;
}

.button span {
     cursor: pointer;
     display: inline-block;
     position: relative;
     transition: 0.5s;
}

.button span:after {
     content: "»";
     position: absolute;
     opacity: 0;
     top: 0;
     right: -20px;
     transition: 0.5s;
}

.button:hover span {
     padding-right: 25px;
}

.button:hover span:after {
     opacity: 1;
     right: 0;
}

.app-button {
     font-family: Harmony OS Sans SC;
     font-weight: normal;
     display: inline-block;
     border-radius: 6px;
     -webkit-border-radius: 6px;
     background-color: #0070f3;
     border: none;
     color: #ffffff;
     text-align: center;
     font-size: 20px;
     padding: 20px;
     width: 200px;
     transition: all 0.5s;
     -webkit-transition: all 0.5s;
     -moz-transition: all 0.5s;
     cursor: pointer;
     margin: 5px;
     box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
     -webkit-box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
}

.app-button:hover {
     background-color: #ffffff;
     color: #0070f3;
}

.header {
     padding-top: 30px;
     padding-bottom: 30px;
     background-image: linear-gradient(45deg, #7193ff, #b780ff);
     color: #fff;
     border-bottom-left-radius: 50%;
     border-bottom-right-radius: 50%;
     height: 450px;
}

.header .h1 {
     font-family: Harmony OS Sans;
     font-size: 50px;
     font-weight: bold;
}

.msg {
     /* background-color: #fafafa;
    border-top: solid #eaeaea; */
     border-bottom: solid #eaeaea;
     padding: 30px;
     margin-top: 30px;
     text-align: center;
}

.head-title {
     font-family: Harmony OS Sans;
     font-weight: bold;
}

.mdui-tab-indicator {
     opacity: 0;
}

ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color: rgb(145, 251, 255);
}

li {
     float: left;
}

li a {
     display: block;
     color: rgb(255, 255, 255);
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
}

li a:hover {
     background-color: rgb(97, 207, 198);
}

.active {
     background-color: #4bb3c5;
}

.app-color {
    background: linear-gradient(45deg,#7193FF, #B780FF);
    color: azure;
}

iframe {
     border: none;
}

.mdui-tab * {
     color: #fff!important;
}


.mdui-tab a {
     min-width: 0px!important;
     padding: 12px 10px!important;
}