* {
    outline: 0;
}

a {
    font-family: Harmony OS Sans;
    color: #fff;
    text-align: center;
}

.p {
    font-family: Harmony OS Sans;
    text-align: center
}

.h1 {
    font-family: Harmony OS Sans;
    font-size: 50px;
    font-weight: bold;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #0070f3;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 280px;
    text-align: center;
    font-family: arial;
    display: inline-block;
    margin: 10px;
    transition: all .3s ease-in 0s;
}

.card button {
    border: none;
    background-color: #4d78cc;
    color: white;
    width: 80px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
}

.card a {
    color: white;
}

.container {
    padding: 0 16px;
    display: inline;
    margin: 0 auto;
    text-align: center;
}

.container::after {
    content: "";
    clear: both;
    display: table;
    display: inline;
}

.cards {
    text-align: center;
    margin: 0 auto;
}

.card:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: linear-gradient(to bottom right, #7A88FF, #7AFFAF);
    color: #fff;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    height: 450px;
}

.header .h1 {
    font-family: Harmony OS Sans;
    font-size: 50px;
    font-weight: bold;
}

.msg {
    /* background-color: #fafafa;
    border-top: solid #eaeaea; */
    border-bottom: solid #eaeaea;
    padding: 30px;
    margin-top: 30px;
    text-align: center;
}

.user-v {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 7rem;
    height: 1.5rem;
    font-size: 18px;
    color: #fff;
    background: #FF7F50;
    background-color: #FF7F50;
    -webkit-background-size: 14px 14px;
    background-size: 14px 14px;
    background-repeat: no-repeat;
    background-position-x: 2px;
    background-position-y: center;
    font-size: 10px;
    border: 1px solid #ffc210;
}

.head-title {
    font-family: Harmony OS Sans;
    font-weight: bold;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(145, 251, 255);
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(97, 207, 198);
}
.active {
    background-color: #4bb3c5;
}
