div#app {
     display: flex;
     flex-direction: column;
     /* 防复制yyds */
     user-select: none;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     font-size: 1.25em;
}

.app-top {
     display: flex;
     flex-direction: row;
}

.app-top-left {
     display: flex;
     flex-direction: row;
     align-items: center;
}

.app-top-left-right {
     display: flex;
     flex-direction: column;
}

.app-top-left-right-top {
     display: flex;
     flex-direction: row;
}

.app-top-left-left-img img {
     width: 200px;
     height: 200px;
}

.app-top-left-right-top-left {
     font-size: 1.875em;
}

.app-top-left-left {
     margin-right: 1.875em;
}

.app-top-left-right-top-right {
     margin-left: 10px;
}

.app-top-left-right-bottom {
     margin-top: 10px;
}

.app-bottom {
     padding: 60px;
     padding-top: 0px;
     display: flex;
}

.app-bottom-left {
     margin-right: 20px;
}

.app-bottom>* {
     padding: 20px;
}

.app-bottom-left-honor {
     display: flex;
     flex-wrap: wrap;
     width: 100%;
}

.app-bottom-left-honor-div {
     padding: 10px 15px;
     display: flex;
     flex-direction: row;
     color: #FFFFFF;
}

.app-bottom-left-honor-div-right {
     display: flex;
     flex-direction: column;
     color: #FFFFFF;
}

.app-bottom-left-honor-div-right-content {
     font-size: 25px;
     font-weight: bold;
     color: #FFFFFF;
}

.app-bottom-left-honor-div-right-title {
     font-size: 16px;
     color: #aaa;
     line-height: 11px;
     color: #FFFFFF;
}

.app-bottom-left-coin {
     display: flex;
     flex-direction: row;
}

.app-bottom-left-coin-text {
     font-size: 20px;
     font-weight: bold;
}

.app-bottom-left-updatetime {
     display: flex;
}

.app-bottom-left-updatetime-left {
     font-weight: bold;
     color: #FFFFFF;
}

.app-bottom-left-updatetime-right {
     color: #FFFFFF;
}

.app-bottom-right-div-more {
     position: absolute;
     right: 20px;
     top: 15px;
}

.app-bottom-right-div {
     position: relative;
     padding: 20px 0px;
}

.app-bottom-right {
     width: 65%;
}

.app-bottom-left {
     background: linear-gradient(45deg, #7193FF, #B780FF);
     width: 35%;
     border-radius: 10px;
     padding: 15px 25px;
}

.app-bottom-right-div-more button {
     border: none;
     background: linear-gradient(45deg, #7193FF, #B780FF);
     color: #ffffff;
     padding: 8px 15px;
     border-radius: 50px;
     cursor: pointer;
     transition: 0.2s;
}

.app-bottom-right-div-more button:hover {
     background: linear-gradient(45deg, #7193FF, #B780FF);
}

.app-bottom-right-certificate .app-bottom-right-div-table-div {
     width: 160px;
     height: 90px;
     background-size: 100% 100%;
}

.app-bottom-right-div-table-div {
     margin: 10px;
     background: linear-gradient(45deg, #7193FF, #B780FF);
     border-radius: 10px;
     cursor: pointer;
     transition: 0.3s;
     box-shadow: 0px 10px 20px -2.5px #aaa;
}

.app-bottom-right-div-table-div:hover {
     transform: scale(1.1);
}

.app-bottom-right-div:not(.app-bottom-right-certificate) .app-bottom-right-div-table-div {
     width: 150px;
     height: 60px;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
}

.app-bottom-right-div-table-div-text {
     font-size: 25px;
     font-weight: bold;
}

.app-top {
     padding: 40px 60px 30px 60px;
}

.app-bottom-left>* {
     margin: 20px 0px;
}

.app-bottom-left-coin-icon img {
     width: 25px;
     height: 25px;
     margin-right: 5px;
     border-radius: 0px;
     filter: invert(1);
}

.app-bottom-right-div-title {
     margin-bottom: 20px;
     color: #000;
}

.app-bottom-left-honor-div-left-icon img {
     width: 25px;
     height: 25px;
     border-radius: 0px;
     filter: brightness(10);
}

.app-bottom-left-honor-div-left-icon {
     margin-right: 5px;
}

.app-dialog-bg {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: #000;
     opacity: 0.5;
     z-index: 999999999;
}

.app-dialog {
     position: fixed;
     z-index: 999999999999999999999999999999999999999;
     background: linear-gradient(45deg, #7193FF, #B780FF);
     max-width: 90%;
     max-height: 90%;
     width: 500px;
     height: 60%;
     overflow: auto;
     display: flex;
     flex-direction: column;
     align-items: center;
     border-radius: 20px;
     box-shadow: 0px 10px 20px 1px #555;
}

.app-dialog-animation {
     transition: all 0.25s;
}

.app-dialog-close {
     display: none;
}

.app-dialog-close-animation {
     opacity: 0;
     box-shadow: 0px 10px 0px 1px #0000;
     border-radius: 10px;
}

.app-dialog-bg-animation {
     transition: 0.25s;
}

.app-dialog-bg-noshow-animation {
     opacity: 0;
}

.app-dialog-bg-noshow {
     display: none;
}

.app-dialog-name {
     padding: 20px;
     width: 100%;
     text-align: center;
     font-size: 20px;
     font-weight: bold;
}

.app-dialog-img {
     width: 100%;
     max-width: 100%;
     display: flex;
     justify-content: center;
}

.app-dialog-img img {
     width: 100%;
     border-radius: 0px;
}

.app-dialog-content {
     padding: 10px;
     width: 100%;
     text-align: center;
}

.app-dialog-button {
     position: absolute;
     bottom: 0;
     left: 0;
     width: 100%;
     height: 60px;
     display: flex;
     flex-direction: row;
     align-items: flex-start;
     justify-content: center;
     background-color: linear-gradient(45deg, #7193FF, #B780FF);
}

.app-dialog-button button {
     border: none;
     background: #f00;
     color: linear-gradient(45deg, #7193FF, #B780FF);
     padding: 8px;
     border-radius: 5px;
     cursor: pointer;
}

.container {
     justify-content: flex-start;
     width: 100%;
}

.container .card {
     margin: 20px 10px;
     height: 300px;
     width: 200px;
}

.container .card .content h3 {
     font-size: 1.2em;
}

.app-bottom-left-title {
     color: #ffffff;
}

@media (max-width: 800px) {
     .app-bottom {
          flex-direction: column;
     }

     .app-bottom>* {
          width: 100%;
     }

     .app-bottom-right-div-table {
          display: flex;
          flex-wrap: wrap;
     }

     .app-top-left-left-img img {
          width: 150px;
          height: 150px;
     }
}